body{background-color:green}
h1{color:#000000;text-align:center;font-family:georgia,garamond,serif;font-size:30px;font-style:italic;color:#FF0000}
h2{color:#33FFFF;text-align:center;font-family:georgia,garamond,serif;font-weight:Bold;font-size:28pt;color:#0000FF}
h3{color:#33FFFF;text-align:center;font-family:georgia,garamond,serif;font-weight:Bold;font-size:18pt;color:#0000FF}
h4{color:#291018;text-align:center;font-family:georgia,garamond,serif;font-style:Italic;font-size:18pt}
h5{color:#FF6666;text-align:center;font-family:palatino;font-weight:bold;font-size:16pt}
h6{color:#333300;text-align:center;font-family:Californian FB;font-style:Italic;font-size:14pt}
p{color:black;text-align:justify;font-family:calibri:font-style:Italic;font-size:14pt}
ul{list-stlye-type:square;color:#CC3300;font-style:italic;font-family:cambria;font-size:14pt}
ol{list-style-type:upper-roman;color:#521400;font-weight:bold;font-family:cambria;font-size:14pt}
a:link{color:red}
a:visited{color:Black}
a:hover{color:pink}
a:active{color:blue}
table{border:5px solid;width:600px;height:300px;border-color:black}
table tr {background-color:#771100;color:CCCCCC}
table th{color:teal;background-color:#CC6633;font-size:16pt;font-fanily:candara}
table td{color:Maroon;background-color:lavender;font-size:16pt;font-fanily:candara}